main {
    width: $w-100percento;
    height: $h-100vh;
    text-align: center;
    background: $sfondo;
    .box-card {
        width: $w-100percento;
        margin: auto;
        @include flex(space-around);
        .card {
            width: $w-card;
            text-align: center;
            padding-top: 20px;
            img {
                width: 70%;
                height: 80%;
            }
            h3 {
                color: $marrone;
            }
            h4,h6 {
                color: $bianco;
            }
        }
    }
}