// colori
$sfondo: linear-gradient(#eeee,#000);
$marrone: #a52a2a;
$bianco: #fff;
$grigio: #eeee;

// width e height
$w-card: calc(100% / 5);
$w-100percento: 100%;
$h-100percento: 100%;
$h-100vh: 100vh;